/* Variables de couleurs */
:root {
    --primary-color: #2E8B57; /* Vert */
    --secondary-color: #FF6347; /* Rouge tomate */
    --background-color: #F0F8FF; /* Bleu clair */
    --text-color: #333; /* Texte sombre */
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
}

#logo {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    position: relative;
    background-color: #ccc;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
}

/* About Section */
.about {
    margin: 20px;
}

.about h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

.about p {
    font-size: 1.2rem;
}

/* Tours Section */
.tours {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.tour {
    width: 45%;
    text-align: center;
}

.tour img {
    width: 100%;
    height: auto;
}

.tour h3 {
    color: var(--primary-color);
}

.tour p {
    font-size: 1rem;
    color: var(--text-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

footer .social-media a {
    margin: 0 10px;
}

footer .social-media img {
    width: 10px;
    height: auto;
}

/* Links */
a {
    color: var(--secondary-color);
    text-decoration: none;
}